@import '../../../assets/sass/utilities/colors';
@import '../../../assets/sass/utilities/mixins';

.shop-page {
    margin-bottom: 40px;
    
    h3 {
        margin-top: 0;
    }

    @include e(list) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    @include e(item) {
        background: $base;
    }

    @include e(text) {
        text-align: center;
        color: $white;
        padding: 20px;
    }

    @include e(price) {
        font-size: 24px;
        font-weight: 900;
    }
}