<div class="page-contact container">
    <h2 class="text-center">Contacto</h2>
    <form [formGroup]="formContact" (keydown.enter)="$event.preventDefault()">
        <fieldset>
            <legend>Datos Personales</legend>
            <div>
                <label for="name">Nombre:</label>
                <input id="name" type="text" placeholder="" formControlName="name"/>
            </div>
            <div>
                <label for="issue">Asunto:</label>
                <input id="issue" type="text" placeholder="" formControlName="issue"/>
            </div>
            <div>
                <label for="email">Correo electrónico:</label>
                <input id="email" type="email" placeholder="" formControlName="email"/>
            </div>
            <div>
                <label for="telephone">Teléfono:</label>
                <input id="telephone" type="tel" placeholder="" formControlName="telephone"/>
            </div>
            <div>
                <label for="message">Mensaje:</label>
                <textarea id="message" formControlName="message"></textarea>
            </div>
        </fieldset>

        <fieldset>
            <legend>Ubicación</legend>
            <div>
                <label for="country"></label>
                <select id="country" name="country" formControlName="country">
                    <option value="" selected disabled>Seleccione</option>
                    <option value="100">Colombia</option>
                    <option value="101">Argentina</option>
                </select>
            </div>
        </fieldset>

        <fieldset>
            <legend>Información Adicional</legend>
            <div>
                <label for="client">Cliente</label>
                <input id="client" type="radio" value="true" formControlName="client">
            </div>
            <div>
                <label for="supplier">Proveedor</label>
                <input id="supplier" type="radio" value="true" formControlName="supplier">
            </div>
        </fieldset>

        <div class="page-contact__button">
            <a class="button button__small m-auto" (click)="submitContact()">Enviar</a>
        </div>
    </form>
</div>