<div class="page-contact container">
    <h2 class="text-center">Contacto</h2>
    <form [formGroup]="formContact" (keydown.enter)="$event.preventDefault()">
        <fieldset>
            <legend>Datos Personales</legend>
            <div class="page-contact__group">
                <div class="page-contact__group--field">
                    <label for="contact-name">Nombre:</label>
                    <input id="contact-name" type="text" placeholder="" class="input" formControlName="name" autocomplete="off"/>
                </div>
                <div class="page-contact__group--field">
                    <label for="contact-issue">Asunto:</label>
                    <input id="contact-issue" type="text" placeholder="" class="input" formControlName="issue" autocomplete="off"/>
                </div>
                <div class="page-contact__group--field">
                    <label for="contact-email">Correo electrónico:</label>
                    <input id="contact-email" type="email" placeholder="" class="input" formControlName="email" autocomplete="off"/>
                </div>
                <div class="page-contact__group--field">
                    <label for="contact-telephone">Teléfono:</label>
                    <input id="contact-telephone" type="tel" placeholder="" class="input" formControlName="telephone" autocomplete="off"/>
                </div>
                <div class="page-contact__group--field last-child">
                    <label for="contact-message">Mensaje:</label>
                    <textarea idcontact-="message" class="input input__textarea" formControlName="message"></textarea>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Ubicación</legend>
            <div class="page-contact__group">
                <div class="page-contact__group--field">
                    <label for="contact-country">País:</label>
                    <select id="contact-country" name="country" class="input input__select" formControlName="country">
                        <option value="" selected disabled>Seleccione</option>
                        <option value="100">Colombia</option>
                        <option value="101">Argentina</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Información Adicional</legend>
            <div class="page-contact__group">
                <div class="page-contact__group--field">
                    <label for="contact-client">Cliente</label>
                    <input id="contact-client" type="radio" value="true" class="input-radio" formControlName="client">
                </div>
                <div class="page-contact__group--field">
                    <label for="contact-supplier">Proveedor</label>
                    <input id="contact-supplier" type="radio" value="true" class="input-radio" formControlName="supplier">
                </div>
                <div class="page-contact__group--field category-div">
                    <label for="contact-category">Categoría de Interés</label>
                    <input id="contact-category" name="categories" list="categories" class="input">
                    <datalist id="categories">
                        <option *ngFor="let category of categories" value="{{ category.value }}">
                    </datalist>
                </div>
            </div>
        </fieldset>

        <div class="page-contact__button">
            <a class="button button__small m-auto" (click)="submitContact()">Enviar</a>
        </div>
    </form>
</div>