$base: #037bc0;

$white: #ffffff;
$white-50: #ffffff66;

$text: #333333;

$grayPrimary: #e5e5e5;
$grayMedium: #e1e1e1;
$graySecundary: #acacac;

$greenPrimary: #8cbc00;
$greenSecundary: #769c02;
$green-100: #93c06d;
