$base: #037bc0;

$white: #ffffff;
$white-50: #ffffff66;

$text: #333333;

$grayPrimary: #e5e5e5;
$grayMedium: #e1e1e1;
$graySecundary: #acacac;

$greenPrimary: #8cbc00;
$greenSecundary: #769c02;
$green-100: #93c06d;

// primary
$primaryBase       :#d32279;
$primaryLight      :#d32279;
$primaryDark       :#d32279;

// secondary
$secondaryBase     :#7aba45;
$secondaryLight    :#a8dd7d;
$secondaryDark     :#4e8323;

// complementary
$complementaryBase :#30364c;

// grays
$grayscaleWhite    :#ffffff;
$grayscaleLevel-1  :#f2f2f2;
$grayscaleLevel-2  :#eeeeee;
$grayscaleLevel-3  :#cccccc;
$grayscaleLevel-4  :#999999;
$grayscaleLevel-5  :#666666;
$grayscaleLevel-6  :#333333;
$grayscaleLevel-7  :#4A4A4A;
$grayscaleBase     :#1b1b1b;
$grayscaleBlack    :#000000;

// transparents
$grayscaleBlackT   :#0000007a;

// shadow
$shadowGray        :#ccccccd3;
$shadowBase        :#7aba45cc;
