
// ============================================================
// Typography
// ============================================================

$fontPrimary: 'Raleway', sans-serif;
$fontSecondary: 'Loto', serif;

// ============================================================
// Breakpoints
// ============================================================

$breakpoints: (
    xs: 550px,
    sm: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1600px
);
