@import '../../../assets/sass/utilities/mixins';

.header {
    @include e(title) {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    
        span {
            color: #037bc0;
        }
    }
}
