<header class="header container">
    <img class="header__icon" src="../../../assets/images/logo.png" alt="logo">
    <h1 class="header__title">Prendas íntimas ecológicas</h1>
    <div class="header__social">
        <i class="fab fa-facebook"></i>
        <a href="https://www.instagram.com/soymujereva/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send/?phone=573114499481&text=Hola+Evas%2C+me+interesa+obtener+m%C3%A1s+informaci%C3%B3n+de+los+productos&app_absent=0" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</header>