@import '../../../assets/sass/utilities/module';

.header {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include e(icon) {
        cursor: pointer;
        max-width: 5rem;
    }

    @include e(title) {
        display: none;
        text-align: center;
        color: $complementaryBase;
    }

    @include e(social) {
        display: flex;
        gap: 0.3rem;
        
        i {
            font-size: 1.5rem;
            color: $complementaryBase;
            cursor: pointer;
            transition: color 0.2s ease-in;
        }

        i:hover {
            color: $secondaryBase;
        }
    }
}

@include mq-min(sm) {
    .header {
        @include e(icon) {
            max-width: 8rem;
        }

        @include e(title) {
            display: inline;
        }

        @include e(social) {
            i {
                font-size: 1.2rem;
            }   
        }
    }
}
