@import '../../../../assets/styles/colors.scss';

.blog-detail {
    max-width: 650px;

    article {
        margin-bottom: 25px;
        padding-bottom: 25px;

        .meta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                font-weight: 700;
            }

            span {
                color: $base;
            }
        }
    }
}