<div class="page-login">
    <div class="page-login__container">
        <h2>Iniciar Sesión</h2>
        <div>
            <label for="login-email">Correo Electrónico</label>
            <input id="login-email" class="input" type="text" autocomplete="off">
        </div>
        <div>
            <label for="login-password">Contraseña</label>
            <input id="login-password" class="input" type="password" autocomplete="off">
        </div>
        <a href="#" class="button">Ingresar</a>
    </div>
</div>