@import '../../../assets/styles/colores.scss';

.navegacion__principal {
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;

    &-contenedor {
        padding: 20px 0px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
}