@import '../../../assets/sass/utilities/colors';

.navigation {
    border-color: $grayMedium;
    border-top-style: solid;
    border-width: 1px;

    &__container {
        padding: 20px 0px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
}