<div class="blog-page container">
    <h2>Nuestro blog</h2>
    <section class="blog-page__container">
        <div class="blog-page__blog">
            <article *ngFor="let article of listArticlesDetail">
                <header>
                    <h2>{{ article.title }}</h2>
                </header>
                <div class="image">
                    <img src="{{'../../../assets/images/' + article.image }}" alt="{{ article.imageTitle }}">
                </div>
                <div class="meta">
                    <p>Fecha: <span>{{ article.date }}</span></p>
                    <p>Escrito por: <span>{{ article.author }}</span></p>
                </div>
                <div class="article">
                    <p *ngFor="let paragraph of article.paragraphs">{{ paragraph }}</p>
                </div>
                <a class="button button__small" (click)="detailArticle(article.id)">Leer</a>
            </article>
        </div>
        <aside>
            <h3>Otras entradas de blog</h3>
            <ul>
                <li *ngFor="let item of listArticles">{{ item }}</li>
            </ul>
        </aside>
    </section>
</div>