<div class="hero"></div>

<section class="category container">
    <h2>Categorías de Productos</h2>
    <div class="category__content">
        <div *ngFor="let category of categoryList" class="category__item">
            <img src="../../assets/images/{{ category.image }}" alt="Imagen {{ category.name }}">
            <a>{{ category.name }}</a>
        </div>
    </div>
</section>

<section class="us">
    <div class="us__content container">
        <div class="us__element">
            <h2>Sobre Nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo autem incidunt natus! Corrupti delectus enim mollitia veniam officia repellat harum optio sequi fugiat quae fuga aperiam, repellendus error dolores?</p>
        </div>
    </div>
</section>

<main class="products container">
    <h2>Nuestros Productos</h2>
    <div class="products__list">
        <div *ngFor="let product of productList" class="products__item">
            <img src="../../assets/images/{{ product.image }}" alt="Imagen {{ product.name }}">
            <div class="products__text">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="products__text-price">{{ product.price }}</p>
                <a class="button" href="#">Agregar al Carrito</a>
            </div>
        </div>
    </div>
</main>
