@import '../../../assets/sass/utilities/mixins';

.us-page {

    @include e(container) {
        display: grid;
        column-gap: 40px;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 40px;
    }
    
    @include e(information) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}