@import '../../../assets/sass/utilities/mixins';

.us-page {
    @include e(container) {
        display: grid;
        column-gap: 30px;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
        padding: 0px 25px;
    }
    
    @include e(information) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@include mq-min(sm) {
    .us-page {

        @include e(container) {
            column-gap: 40px;
            grid-template-columns: 1fr 2fr;
            margin-bottom: 40px;
        }
    }   
}