.us-page {

    &__container {
        display: grid;
        column-gap: 40px;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 40px;
    }
    
    &__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}