<div class="us-page container">
    <h2 class="text-center">Sobre Nosotros</h2>
    <section class="us-page__container">
        <div class="us-page__image">
            <img src="../../../assets/images/us.jpg" alt="Imagen Nosotros"/>
        </div>
        <div class="us-page__information">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, magnam. Voluptatem, ad laboriosam corrupti aspernatur illum assumenda quis. Perspiciatis corrupti ipsam fugiat ullam hic adipisci quis eos earum ratione neque?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio totam laudantium, quam obcaecati quaerat vero consequuntur nam assumenda molestiae, non consectetur porro minus eveniet numquam debitis nihil quidem iure.</p>
        </div>
    </section>
</div>