@import '../utilities/module';

.button {
    background: $greenPrimary;
    color: $white;
    display: block;
    font-weight: 900;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease-in;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: $greenSecundary;
    }

    @include e(small) {
        max-width: 300px;
    }
}