@import '../../../assets/sass/utilities/colors';

.footer-main {
    background-color: $grayPrimary;
    text-align: center;

    &__block {
        display: grid;
        padding: 20px 0px;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid $graySecundary;
    }

    a {
        display: block;
        line-height: 25px;
    }

    p {
        padding: 25px 0px;
        margin: 0;
    }
}
